@model website.Models.ShoppingListModel


<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model.Products)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <h4 class="text-center"><span class="label label-info text-capitalize">@item.Name</span></h4>
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <h3 class="text-capitalize"><b>@item.Name</b></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-success btn-product" onclick="Buy('@item.Name')"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                                </div>
                            </div>

                            <p> </p>
                        </div>
                    </div>
                </div>
            }



        </div>

    </div>

    <div class="row">
        <a class="btn btn-success" data-toggle="modal" data-target=#checkout>Proceed Checkout</a>
    </div>
</div>


<div id="modalBuy" class="modal">
    @Html.Partial("_confirmBuy")
</div>

<div class="modal" id="checkout">
    @Html.Partial("shoppingCard")
</div>

<script>
    function Buy(nameList) {
        $("#modalBuy").load('@Url.Action("EditListCard", "Home", new { name = "value"})'.replace("value", nameList), function () {
            $("#modalBuy").modal('show');
        });
    }
</script>
